<?xml version="1.0"?>
<robot name="human">

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 1.57" />

      <geometry>
        <mesh filename="package://sm_mppi_planner/models/walking_human/meshes/walk.dae" scale="1.8 1.8 1.8"/>
      </geometry>
    </visual>
    
    <collision>
        <origin xyz="0 0 0.9" rpy="0 0 0" />
        <geometry>
            <cylinder radius="0.25" length="1.8" />
        </geometry>
    </collision>
  </link>

</robot>