amcl:
  ros__parameters:
    use_sim_time: true
    scan_topic: /scan_raw
    base_frame_id: base_footprint
    odom_frame_id: odom
    global_frame_id: map
    tf_broadcast: true

map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: /home/wim/Documents/social_momentum_venv/social_momentum_MPPI/src/tiago_social_scenarios/maps/hallway_map.yaml

bt_navigator:
  ros__parameters:
    use_sim_time: true

controller_server:
  ros__parameters:
    use_sim_time: true

planner_server:
  ros__parameters:
    use_sim_time: true

smoother_server:
  ros__parameters:
    use_sim_time: true

waypoint_follower:
  ros__parameters:
    use_sim_time: true

lifecycle_manager:
  ros__parameters:
    use_sim_time: true
    autostart: true
    node_names: [map_server, amcl, controller_server, planner_server, smoother_server, bt_navigator, waypoint_follower]
